/* Stump Landing Style */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,300,700);

body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: 'Open Sans' sans-serif;
  color: #575757;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

a:active {
  color:inherit;
  text-decoration: inherit;
}

a:focus {
  color:inherit;
  text-decoration: inherit;
}

input {
  outline: none;
  border: none;
  background:none;
}

input:active {
  border: none;
  outline:none;
}

#title {
  height:100vh;

  box-sizing: border-box;
}

#nav {
  position: absolute;
  top:20px;
  width: 900px;
  height: 50px;
  margin: 0 auto;
  right: 0;
  left: 0;
  z-index: 9999;
}

#logo {
  float:left;
  height: 100%;
  width: 50px;
}

.link {
  float:right;
  height: 100%;
  margin: 0 10px;
  padding: 0 5px;
  display: table;
  font-weight: 500;
  cursor: pointer;
  transition: all .2s ease;
}

.link:hover {
  border-bottom: 4px solid;
}

.active {
  border-bottom: 4px solid;
}

#hero {
  display: table;
  height: 100vh;
  margin: 0 auto;
}

#hero_inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

#hero_title {
  
}

.beta-hold {
  margin-top:40px;
  width:100%;
}

.beta-button {
  margin: 0 auto;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #777;
  display: table;
  cursor: pointer;
  opacity: .7;
  transition: .2s ease;
}

.beta-button:hover {
  opacity: 1;
}

.beta-button:active {
  opacity: 1;
}

.sign-field {
  margin-bottom: 20px;
  opacity: 1;
}

#sign-up {
  margin-top: 20px;
}

#title_text {
  font-family: 'Open Sans';
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  width:100%;
}

#sub_title {
  font-size:20px;
  font-weight: 300;
  text-align: center;
  width:100%;
}

#hero_mock {
  margin-bottom: 30px;
}

.mockup {
  display: block;
  margin: 0 auto;
  max-height: 400px;
}

#used_by {
  background: #EfEfEf;
}

#top-beta {
  position: absolute;
}

#left-head {
  display: inline-block;
  vertical-align: middle;
  background:#CdCdCd;
  border-radius:2px;
  padding:7px 13px;
  margin-right: 30px;
  font-weight: 700;
}

.edu {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  height:65px;
  margin: 10px 45px;
  -webkit-filter: grayscale(100%);
  transition: both .3s ease;
}

.edu:hover {
  -webkit-filter: grayscale(0%);
}

.sec-title {
  font-size:30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sec-sub {
  font-size: 20px;
  font-weight: 300;
  margin: 0 8%;
}

.test {
  background:#EfEfEf;
  height:100px;
}

/* ======== */

.inner {
  display: table-cell;
  vertical-align: middle;
}

.center {
  margin:0 auto;
  display: table;
}

.full {
  height: 100vh;
}

.divider {
  padding:25px 0;
}

.section {
  padding : 75px 0;
  text-align: center;
  max-width: 900px;
  margin:0 auto;
  display: table;
  width: 900px;
}

.hold {
  max-width: 
}

.top-sec {
  width: 83%;
  margin: 0 auto 40px auto;
}


/* THE TEAM STYLING */
.spacer {
  margin-top:200px;
}

.pro {
  padding: 0 20px;
  text-align: center;
  margin-bottom:30px;
  width:20%;
  float:left;
}

.pic {
  border-radius: 100%;
  border: 1px solid #e1e1e1;
  width:100px;
  margin: 0 auto 15px auto;
}

.name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.sub-name {
  font-size: 15px;
  font-weight: 500;
}

.white {
  width:100%;
  background:white;
}


/* PAGES (specific colors for each page)
============================================================================= */

/*#out {
  background: lightgreen;
}*/


/* Transitions */

/* slide in from the bottom */
@keyframes slideOutLeft {
    from    { opacity: 1; }
    to      { opacity: 0; }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

    .ng-enter { 
      z-index: 888; 
      display: block; 
    }
    .ng-leave { 
      z-index: 999; 
      display: none; 
    }

    /* page specific animations ------------------------ */

    /* home -------------------------- */
    .page-main.ng-enter         { animation:slideInRight 0.5s both ease-in; }
    .page-main.ng-leave         { animation:slideOutLeft 0.5s both ease-in; }

    /* beta ---------------------- */
    .page-beta.ng-enter         { animation:slideInRight 0.5s both ease-in; }
    .page-beta.ng-leave         { animation:slideOutLeft 0.5s both ease-in; }

    /*  ---------------------- */
    .page-team.ng-enter         { animation:slideInRight 0.5s both ease-in; }
    .page-team.ng-leave         { animation:slideOutLeft 0.5s both ease-in; }

/* Footer */

.footer {
  width:100%;
  height:30px;
  background:#F4F4F4;
  border-top: 1px solid #e1e1e1;
}

/* input placeholder */

::-webkit-input-placeholder {
   color: #575757;
}

:-moz-placeholder { /* Firefox 18- */
   color: #575757;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #575757;  
}

:-ms-input-placeholder {  
   color: #575757;  
}